# Ignore conda environments
.conda/
env/
venv/
.env/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

ecoenv/
# Standardized ignore for all archived plot folders
**/old_plots/
**/temp_plot.py
 
temp/
supp_material/verify_supplementary.py
plots/